<!doctype html>
<html lang="en">

<head>
    <%- include("template/head.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
    
</head>

<body>
    
   <h1 class="text-warning">ERRORRRRRRR, ALGO NO HAS ESCRITO BIEN; VUELVE ATRAS</h1>
</body>

</html>