<div class="border-end border-dark border-2 float-start pt-5 col-4 col-lg-2 col-md-3 col-sm-3  izquierdo">

    <ul class="list-unstyled ps-lg-3 ps-md-3 ps-sm-1 ps-1">
      <button id="proyectosboton" class="btn btn-toggle align-items-center rounded collapsed ps-0 boton" data-bs-toggle="collapse"
          data-bs-target="#proyectos" aria-expanded="true" aria-controls="proyectos"><span
            class="fs-5 fw-bold">Proyectos</span>

        </button>
        <div class="collapse show menu" id="proyectos" aria-labelledby="headingTwo" data-parent="#accordion">
          <ul class="card-body btn-toggle-nav list-unstyled fw-normal pb-1 ps-2 small">
            <li class="pb-3"><a id="proyectoscortas" href="#" class="link-dark rounded text-decoration-none fs-6">Preguntas Cortas</a></li>
            <li class="pb-3"><a id="proyectosdesarrollo" href="#" class="link-dark rounded text-decoration-none fs-6">Examen Desarrollo</a>
            </li>
            <li class="pb-3"><a id="proyectostest" href="#" class="link-dark rounded text-decoration-none fs-6">Test</a></li>
            <li class="pb-3"><a href="#" class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Cantar Temas</a></li>
            <li class="pb-3"><a id="proyectostarjetas" href="#" class="link-dark rounded text-decoration-none fs-6">Tarjetas de Memoria</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1 d-none d-sm-block d-md-block d-lg-none">
        <button class="btn btn-toggle align-items-center rounded collapsed ps-0 boton" data-bs-toggle="collapse"
          data-bs-target="#cr-proyecto" aria-expanded="true"><span class="fs-5 fw-bold">Crear Proyecto</span>

        </button>
        <div class="collapse menu" id="cr-proyecto" aria-labelledby="headingTwo" data-parent="#accordion">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-2 small">
            <li class="pb-3"><a id="preguntascrear2" href="#" class="link-dark rounded text-decoration-none fs-6">Preguntas Cortas</a></li>
            <li class="pb-3"><a id="desarrollocrear2"href="#" class="link-dark rounded text-decoration-none fs-6">Examen Desarrollo</a>
            </li>
            <li class="pb-3"><a id="testcrear2" href="#" class="link-dark rounded text-decoration-none fs-6">Test</a></li>
            <li class="pb-3"><a href="#" class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Cantar Temas</a></li>
            <li class="pb-3"><a id="tarjetascrear2" href="#" class="link-dark rounded text-decoration-none fs-6">Tarjetas de Memoria</a>
            </li>
          </ul>
        </div>
      </li>
      


      <li class="border-top border-dark my-3 me-5"></li>
      <li class="mb-1 ">
        <button class="btn btn-toggle align-items-center rounded collapsed ps-0 boton" data-bs-toggle="collapse"
          data-bs-target="#tareas" aria-expanded="true"><span class="fs-5 fw-bold">Tareas</span>
        </button>
        <div class="collapse menu" id="tareas">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-2 small">
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Creadas</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Pendientes</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Corregidas</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Papelera</a></li>

          </ul>
        </div>
      </li>
      <li class="mb-1 d-none d-sm-block d-md-block d-lg-none">
        <button class="btn btn-toggle align-items-center rounded ps-0" aria-expanded="false"><span
            class="fs-5 fw-bold">Crear Tarea</span>

        </button>
      </li>
      <li class="border-top border-dark my-3 me-5"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed ps-0 boton" data-bs-toggle="collapse"
          data-bs-target="#alumnos" aria-expanded="false">
          <span class="fs-5 fw-bold">Alumnos</span>
        </button>
        <div class="collapse menu" id="alumnos">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-2 small">
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Crear Alumno</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Alumnos</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Crear Grupo</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Grupos</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1 d-none d-sm-block d-md-block d-lg-none">
        <button class="btn btn-toggle align-items-center rounded ps-0" aria-expanded="false"><span
            class="fs-5 fw-bold">Crear Alumno</span>
        </button>
      </li>
      <li class="mb-1 d-none d-sm-block d-md-block d-lg-none">
        <button class="btn btn-toggle align-items-center rounded ps-0" aria-expanded="false"><span
            class="fs-5 fw-bold">Crear Grupo</span>
        </button>
      </li>
      <li class="border-top border-dark my-3 me-5"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed ps-0 boton" data-bs-toggle="collapse"
          data-bs-target="#mensajes" aria-expanded="false">
          <span class="fs-5 fw-bold">Mensajes</span>
        </button>
        <div class="collapse menu" id="mensajes">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-2 small">
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Redactar</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Entrada</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Enviados</a></li>
            <li class="pb-3"><a href="#"
                class="link-dark rounded text-decoration-none fs-6 text-decoration-line-through">Borrados</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top border-dark my-3 me-5"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed ps-0" data-bs-toggle="collapse"
          data-bs-target="#ajustes" aria-expanded="false">
          <span class="fs-5 fw-bold">Ajustes</span>
        </button>

      </li>
      <li class="mb-1">
        <a id="botonusuario3" class="btn btn-toggle align-items-center rounded ps-0" href="/perfil" aria-expanded="false">
          <span class="fs-5 fw-bold">Cuenta Usuario</span>
        </a>

      </li>
      <li class="border-top border-dark my-3 me-5"></li>
    </ul>
  </div>