<div class="border-start border-dark border-2 pt-5 float-end col-2 derecho d-none d-lg-block">
    <ul class="list-unstyled ps-3">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed boton" data-bs-toggle="collapse"
          data-bs-target="#cr-proyecto" aria-expanded="true"><span class="fs-5 fw-bold">Crear Proyecto</span>

        </button>
        <div class="collapse show menu" id="cr-proyecto">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-4  small">
            <li class="pb-3"><a id="preguntascrear" href="/cortas/crearcortas" class="link-dark rounded text-decoration-none fs-6">Preguntas Cortas</a></li>
            <li class="pb-3"><a id="desarrollocrear" href="/desarrollo/creardesarrollo" class="link-dark rounded text-decoration-none fs-6">Examen Desarrollo</a>
            </li>
            <li class="pb-3"><a id="testcrear" href="/test/creartest" class="link-dark rounded text-decoration-none fs-6">Test</a></li>
            <li class="pb-3"><a href="#" class="link-dark rounded text-decoration-none fs-6">Cantar Temas</a></li>
            <li class="pb-3"><a id="tarjetascrear" href="/tarjetas/creartarjetas" class="link-dark rounded text-decoration-none fs-6">Tarjetas de Memoria</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" aria-expanded="false"><span
            class="fs-5 fw-bold">Crear Tarea</span>

        </button>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" aria-expanded="false"><span
            class="fs-5 fw-bold">Crear Alumno</span>
        </button>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" aria-expanded="false"><span
            class="fs-5 fw-bold">Crear Grupo</span>
        </button>
      </li>
      <li class="border-top border-dark my-3 me-5"></li>

    </ul>
  </div>